{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main>
  {{#with data}}
  <div class="main__content">
    <h1 class="title title--center">{{name}}</h1>


    <a href="/spotify-track-add?playlistId={{playlistId}}" class="add-button">
      <img src="/img/add.png" alt="">
      Add
    </a>

    <ul class="track-list">
      {{#each tracks}}
      <li class="track">
        <img src="{{image}}" alt="{{name}}" class="track__img">
        <div class="track__content">
          <strong class="track__name">{{name}}</strong>
          <em class="track__author">{{author}}</em>
        </div>
        <a href="/spotify-track-delete?playlistId={{../playlistId}}&trackId={{id}}">
          <img src="/img/delete.png" alt="" width="40px" height="40px" class="track__del">
        </a>

      </li>
      {{/each}}
    </ul>
  </div>
  {{/with}}
</main>